<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Tic-Tac-Toe AI based game</title>
        <style type="text/css">
            div { margin: 5px;}
            table{ table-layout:fixed; }
            td.tttField {
                width:70px;
                height:70px;
                max-width:150px;
                max-height:150px;
                min-width:50px;
                min-height:50px;
                text-align: center;
                font-family: "Arial";
                font-size: 40px;
                cursor: pointer;
            }
            td {
                border: 1px solid black;
            }
            td.tttField:hover {
                background-color: Aquamarine;
            }
            .hero-image {
                background-image: url("/images/neuralnets-678x381.jpg"); /* The image used */
                background-color: white; /* Used if the image is unavailable */
                height: 381px; /* You must set a specified height */
                background-position: center; /* Center the image */
                background-repeat: no-repeat; /* Do not repeat the image */
                background-size: cover; /* Resize the background image to cover the entire container */
            }
        </style>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </head>
<body>

    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                    <strong>Tic-Tac-Toe neural network based online game</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>


    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Play game</h1>
                <p class="lead text-muted">Tic-Tac-Toe ("Noughts and Crosses")</p>
                <div class="row justify-content-center">
                    <table>
                        <tr>
                            <td class="tttField border-dark border-0" id="0_0"></td>
                            <td class="tttField border-dark border-top-0" id="0_1"></td>
                            <td class="tttField border-dark border-0" id="0_2"></td>
                        </tr>
                        <tr>
                            <td class="tttField border-dark border-left-0" id="1_0"></td>
                            <td class="tttField border-dark" id="1_1"></td>
                            <td class="tttField border-dark border-right-0" id="1_2"></td>
                        </tr>
                        <tr>
                            <td class="tttField border-dark border-0" id="2_0"></td>
                            <td class="tttField border-dark border-bottom-0" id="2_1"></td>
                            <td class="tttField border-dark border-0" id="2_2"></td>
                        </tr>
                    </table>
                </div>
                    <p>
                        <a href="#" class="btn btn-primary my-2" type="button" onclick="resetGame()">New game</a>
                        <a href="#" class="btn btn-secondary my-2" type="button" onclick="getComputerMove()">Computer starts</a>
                    </p>
                </div>
            </div>
        </section>
    <main>

    <div class="container">
        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2020 Copyright: Slawomir Korbas
        </div>
    </div>
    
    <script>
        var boardDto = null;
        var userFigure = 'o';

        $(".tttField").click(function() {
            var cords = $(this).attr('id').split("_");
            if( boardDto.board[parseInt(cords[0])][parseInt(cords[1])].trim() == "" &&
                boardDto.result == "CONTINUE")
            {
                boardDto.board[parseInt(cords[0])][parseInt(cords[1])] = userFigure;
                updateBoard(boardDto);
                getComputerMove();
                delay(200);
            }
        });

        function getComputerMove() {
            sendBoardState(boardDto, userFigure, function (dto) {
                boardDto = dto;
                updateBoard(boardDto);
                //console.log("New game state is: " + JSON.stringify(boardDto));
                if (boardDto.result != null) {
                    console.log("Game is over. Computer " + boardDto.result + " !");
                }
            });
        }

        function resetGame()
        {
            getNewBoard(function(emptyboardDto){
                boardDto = emptyboardDto;
                console.log("New game started. Game state is: " + JSON.stringify(boardDto));
                updateBoard(emptyboardDto);
            });
        }

        function updateBoard(boardDto)
        {
            for( var row = 0; row < boardDto.board.length; row++ ) {
                for( var col = 0; col < boardDto.board.length; col++ ) {
                    $('#' + row + "_" + col).html(boardDto.board[row][col]);
                    $('#' + row + "_" + col).css('color', boardDto.board[row][col] == 'x' ? 'blue' : 'green' );
                }
            }

            if(boardDto.result != null) {
                //TODO mark inline figures with different colour
            }
        }

        function getNewBoard(callback) {
            $.get( "/tictactoe/newBoard", function(data) {
                callback(data);
            });
        }

        function sendBoardState(boardDto, userFigure, callback) {
            var url = "/tictactoe/predict?userFigure=" + userFigure;
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify(boardDto),
                contentType:"application/json; charset=utf-8",
                dataType:"json",
                success: function(data){
                    callback(data);
                }
            });
        }
        
        function delay(milliseconds) {
            const date = Date.now();
            let currentDate = null;
            do {
                currentDate = Date.now();
            } while (currentDate - date < milliseconds);
        }

        $( document ).ready(function() {
            resetGame();
            console.log("Ready to play new game!")
        });
    </script>

</body>
</html>